@import url('https://rsms.me/inter/inter.css');

html
body
  font-family: 'Inter', sans-serif;

h1 a.header-anchor {
  font-family: "Poppins";
  padding-right: 0;
}

h1, h2, h3 {
  font-family: "Poppins";
  color: $titlesColor;
}

h1 > a.header-anchor, h2 > a.header-anchor, h3 > a.header-anchor {
  font-family: "Poppins";
  padding-right: 0;
}

body a {
  text-decoration: none !important;
}

a:hover {
  color: lighten($accentColor, 20%);
}

// @media (prefers-color-scheme: dark) {
//   a:hover {
//     color: lighten($accentDarkColor, 30%);
//   }
// }

body > .nav-link:hover, body > .dropdown-title:hover
  color: $accentColor;


/*
* TABS
*
* Changes the color the code sample tabs
* The tabs are created using the plugin: vuepress-plugin-element-tabs
*
*/

.el-tabs
  .el-tabs__item
   padding 0 15px;

// Non active
.el-tabs--border-card>.el-tabs__header {
  color: $accentColor;
}

// Active tabs
.el-tabs__item.is-active
  color: $accentColor !important;

.el-tabs__item:not(.is-disabled):hover
  color: $accentColor !important;


// @media (prefers-color-scheme: dark) {
//   .el-tabs--border-card>.el-tabs__header {
//     color: $accentDarkColor;
//     background-color: $codeBgColor !important;
//     border: 1px solid $bgDarkColor !important;
//   }

//   .el-tabs__item.is-active {
//     color: $accentDarkColor !important;
//     background-color: darken($bgDarkColor, 20%) !important;
//     border: 1px solid darken($bgDarkColor, 20%) !important;
//   }

//   .el-tabs {
//     background-color: darken($bgDarkColor, 20%) !important;
//     border: 1px solid darken($bgDarkColor, 20%) !important;
//   }
// }

.el-tabs--border-card
  background-color: $codeBgColor;

// None-active tabs on hover
.el-tabs__item:not(.is-disabled):hover
  color: $accentColor !important;

/*
*
* END TABS
*/

.custom-block
  .custom-block-title
    font-weight 600;
    margin-bottom -0.4rem;
  &.note
    padding .1rem 1.5rem;
    border-left-width .5rem;
    border-left-style solid;
    margin 1rem 0
  &.note
    background-color rgba(79, 85, 227, 0.1);
    border-color #4f55e3;
.code-copy
    position: sticky;
    left: 0px;
    svg {
      right: -6px;
      bottom: -6px !important;
    }

// @media (prefers-color-scheme: dark) {
//   .custom-block.note {
//     background-color rgba(79, 85, 227, 0.1);
//   }
// }

{$contentClass} a code
  color $accentColor;

// .meilisearch-autocomplete .docs-searchbar-suggestion--category-header {
//   background-color: $accentColor !important;
// }
// .dsb-cursor .docs-searchbar-suggestion--content {
//       background-color: rgba(black, 10%) !important;
// }
// .docs-searchbar-suggestion--highlight {
//   background-color: rgba(0,0,0,0) !important;
// }
// // .docs-searchbar-suggestion--highlight {
// //   background-color: $bgColor !important;
// //   }

// @media (prefers-color-scheme: dark) {
//   .meilisearch-autocomplete .docs-searchbar-suggestion--category-header {
//     background-color: $accentColor !important;
//   }
//   .docs-searchbar-suggestion--highlight {
//     background-color: rgba(0,0,0,0) !important;
//   }
//   // .dsb-cursor {
//   //   background-color: rgba(0,0,0,0) !important;
//   // }
//   .dsb-cursor .docs-searchbar-suggestion--content {
//       background-color: rgba(white, 10%) !important;
//     }
//   .meilisearch-autocomplete .dsb-dropdown-menu [class^=dsb-dataset-]{
//     border: 1px solid $borderDarkColor !important;
//     }
// }
