// Color of links (<a>) across the documentation
$accentColor = #FF4E62

// Changes the color the code sample tabs
// The tabs are created using the plugin: vuepress-plugin-element-tabs

// Active tabs
.el-tabs__item.is-active
  color: $accentColor !important

// None-active tabs on hover
.el-tabs__item:not(.is-disabled):hover
  color: $accentColor !important

