// All variable that can impact the color of the documentation can be found here:
// https://github.com/tolking/vuepress-theme-default-prefers-color-scheme/blob/master/styles/palette.styl

// Color of links (<a>) across the documentation
$accentColor = #FF5CAA
$accentDarkColor = $accentColor // Needs to change see Lena

$titlesColor = #4F55E3
$titlesDarkColor = #4F55E3 // Needs to change see Lena

// Color of text throughout the documentation
$textColor = #261A59
$textDarkColor = darken(#d3ccdb, 5%) // Needs to change see lena


// Background color of documentation
$bgColor = #f9f8ff
$bgDarkColor = #25272a // Needs to change see lena

// Background of code block with 3 backticks ```
$codeBgLightColor = #282c34
$codeBgColor = #282c34

// Color of borders
$borderColor = darken(#eaecef, 10%)
$borderDarkColor = #4e4e4e // Needs to change see lena

// Border of tables for example the `response body` inside the API references
$tableBorderColor = #dfe2e5
$tableBorderDarkColor = $borderDarkColor // Needs to change see lena

// Color of background of code inside simple ticks ``
// Remove `?` to apply color
$miniCodeBgColor ?= rgba(27,31,35,0.05)
$miniCodeBgDarkColor ?= rgba(255,255,255,0.1)// Needs to change see lena


// BADGES: note, warning, etc..

$tipBgColor = rgba(66, 185, 131, 0.1)
$tipBgDarkColor = rgba(66, 185, 131, 0.1) // Needs to change see lena

$warningColor = darken(#e7c000, 30%)
$warningDarkColor ?= $warningColor // Needs to change see lena

$warningBgColor = rgba(255, 229, 100, 0.3)
$warningBgDarkColor = rgba(185, 174, 119, 0.2) // Needs to change see lena

$dropdownBgDarkColor = #333a3e // Usefull when updating doc-searchbar

// Active tabs
.el-tabs__item.is-active
  color: $accentColor !important

// None-active tabs on hover
.el-tabs__item:not(.is-disabled):hover
  color: $accentColor !important

