# Actions done after Mintlify deployment following a push done on `main`.
# This will trigger new commits on `main`, so a new deployment of Mintlify.
name: Post Deployment

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 23 * * *' # Every day at 11:00 PM UTC
  # push:
  #   branches:
  #     - 'main'

jobs:
  fetch-code-samples:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm install

      - name: Run pull-code-samples script to fetch new code samples
        run: node scripts/pull-code-samples.mjs

      - name: Check for changes
        id: changes
        run: |
          echo "has_changes=$(git diff --quiet snippets/ && echo "false" || echo "true")" >> "$GITHUB_ENV"

      - name: Commit changes
        run: |
          if [[ $has_changes == "true" ]]; then
            echo "There are changes in the Git working directory."
            git config user.name "meili-bot"
            git config user.email "robot@meilisearch.com"
            git add snippets/
            git commit -m "[AUTOMATION POST DEPLOYMENT] Update code samples"
            git push origin main
          else
            echo "No changes in the Git working directory."
          fi

  # We need to wait for fetch-code-samples to commit first so we can push a separate commit
  # (avoid stacking both changes in one run and keep history clear).
  fetch-openapi-files:
    runs-on: ubuntu-latest
    needs: fetch-code-samples

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: main
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v6

      - name: Fetch latest OpenAPI files from Meilisearch release
        run: node scripts/fetch-openapi.mjs

      - name: Check for changes
        id: openapi_changes
        run: |
          echo "has_changes=$(git diff --quiet assets/open-api/ && echo "false" || echo "true")" >> "$GITHUB_ENV"

      - name: Commit changes
        run: |
          if [[ $has_changes == "true" ]]; then
            echo "There are changes in the OpenAPI file."
            git config user.name "meili-bot"
            git config user.email "robot@meilisearch.com"
            git add assets/open-api/
            git commit -m "[AUTOMATION POST DEPLOYMENT] Update OpenAPI files from latest Meilisearch release"
            git push origin main
          else
            echo "No changes in the OpenAPI files."
          fi
