name: "Validate Doc Links"
on:
  pull_request:
    paths:
      - "**.mdx"

jobs:
  link-check:
    runs-on: ubuntu-latest
    if: github.base_ref == 'main'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: "Run link checker"
        run: node ./.github/actions/validate-docs-links/lib
